<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Alarms</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
-->
    <style>
        {% include 'alarmlog.css' %}
    </style>
</head>
<body>
    {# onload should check file age and alert if it's old #}
    <B>Host:</B> {{ host }} <B>Last update:</B> {{ last_update }}<P>

    <div class="container">
      <div class="row">
        <div class="col-sm">
            <A class="btn btn-primary" style="float: left;" HREF="{{ previous_file }}">Previous</A> 
        </div>
        <div class="col-sm">
            <h2 text-align: center;> {{ date }} </h2> 
        </div>
        <div class="col-sm">
            <A class="btn btn-primary" style="float: right;" HREF="{{ next_file }}">Next</A>
        </div>
      </div>
    </div>

    <div id="accordion">
        {% for alarm in alarms %}
        <h3>{{ alarm.subject }}</h3>
        <div>
            <p>
            {{ alarm.message }}
            </p>
        </div>
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
    $( function() {
        $( "#accordion" ).accordion();
    } );
    </script>

</body>
</html>
